# Ignore pytest and python cache
.pytest_cache/
*.pyc
__pycache__/

# Ignore build directories
build/
build/*

# Ignore confidential documents
confidential/

# Ignore egg info
*.egg-info/

# Ignore Huggingface models
models/

# Ignore chromadb logs and data
*.log
*.sqlite3

# Ignore tar archives
*.tar 

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Pickle and csv files
*.pkl
*.csv

# Ignore .llama3_env and .pubmed_env
.llama3_env
.pubmed_env
.openai_env

# Ignore .gitignore and .git and .github
.gitignore
.git
.github

# Ignore venv/
venv/
.vscode/

