# Ignore pytest and python cache
.pytest_cache/
*.pyc
__pycache__/

# Ignore build directories
build/
build/*

# Ignore confidential documents
confidential/

# Ignore egg info
*.egg-info/

# Ignore Huggingface models
models/

# Ignore chromadb logs and data
*.log
*.sqlite3

# Ignore tar archives
*.tar 

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Pickle and csv files
*.pkl
*.csv

# Ignore and .pubmed_env
.pubmed_env

# Ignore venv/
venv

chroma/
