# Ignore pytest and python cache
.pytest_cache/
*.pyc
__pycache__/

# Ignore build directories
build/
build/*

# Ignore confidential documents
confidential/

# Ignore egg info
*.egg-info/

# Ignore Huggingface models
models/

# Ignore chromadb logs and data
*.log
*.sqlite3

# Ignore tar archives
*.tar 

# Ignore Pickle files
*.pkl 

# Ignore system-specific files
.DS_Store
Thumbs.db

# Pickle files
*.pkl