# Ignore virtual environment directory
venv/

# Ignore confidential documents
confidential/

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore setup.py egg info
*.egg-info/

# Ignore build directories
build/
dist/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore local .env files
.env

# Ignore system-specific files
.DS_Store
Thumbs.db

# pytest cache
.pytest_cache/

# vscode config
.vscode

# Pickle files
*.pkl

# Huggingface models
models/

# Logs and chromadb files
app.log
*.sqlite3