# General dependencies
PyPDF2
python-docx
scikit-learn
pandas
six
biobert-embedding @ git+https://github.com/lukalafaye/biobert_embedding
numpy<2
langchain_chroma

# Development and testing dependencies
pytest
