# General dependencies
PyPDF2
python-docx
scikit-learn
pandas
six
numpy<2
langchain_chroma
transformers
sentence_transformers
pymed
idna
zipp
xformers
sympy

# Development and testing dependencies
pytest
black
twine