# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '*.md'
      - '.*'
      - 'Dockerfile'
      - 'Makefile'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '*.md'
      - '.*'
      - 'Dockerfile'
      - 'Makefile'

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Cache pip dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      env:
        PUBMED_API_KEY: ${{ secrets.PUBMED_API_KEY }}
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        LLAMA_BASE_URL: ${{ secrets.LLAMA_BASE_URL }}
        LLAMA_API_KEY: ${{ secrets.LLAMA_API_KEY }}
        LLAMA_PORT: ${{ secrets.LLAMA_PORT }}
        LLAMA_MODEL: ${{ secrets.LLAMA_MODEL }}
        CHROMA_CLIENT_AUTHN_CREDENTIALS: ${{ secrets.CHROMA_CLIENT_AUTHN_CREDENTIALS }}
        CHROMA_CLIENT_AUTHN_PROVIDER: ${{ secrets.CHROMA_CLIENT_AUTHN_PROVIDER }}
      run: |
        pytest